body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}
body {
  background-color: #797979;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;
}
.container {
  max-width: 950px;
  margin: 0 auto;
  text-align: center;
  transform: translateY(50%);
}
/* ---- SIMPLE RESETING ----- */
h1, h2, h3, h4, h5, p {
  margin: 0;
}
header, nav, footer, section, article, div {
  box-sizing: border-box;
}
/* --------- LETTERS -------- */
/* -------------------------- */
.as-in-block {
  font-size: 4rem;
  padding-left: 20px;
  padding-right: 20px;
}
ul {
  list-style: none;
  display: block;
  padding: 0;
  margin: 0;
}
ul li, div.as-in-block {
  display: inline-block;
}
ul li {
  font-family: 'Montserrat', monospace;
  color: #644F88;
  text-shadow: 3px 3px 0 #FFA45A, -3px -3px 0 #7ACDB1;
}
.hide {
  visibility: hidden;
}
/* ----------- BUTTON ------- */
/* -------------------------- */
a {
  text-decoration: none;
  color: #bdbdbd;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 1;
}
/* ----------- ANIMATION ---- */
/* -------------------------- */
.down, .up {
  letter-spacing: 3px;
  position: relative;
}
.down {
  animation: first-down 4s linear forwards;
  -webkit-animation: first-down 4s linear forwards;
}
.up {
  animation: sec-up 4s linear forwards;
  -webkit-animation: sec-up 4s linear forwards;
}
.btn {
  letter-spacing: 3px;
  position: relative;
  animation: appear 10s linear 2s forwards;
  -webkit-animation: appear 10s linear forwards;
}

@keyframes first-down {
    0%   {top:0px;}
    25%  {top:0px;}
    50%  {top:45px;}
    75%  {top:45px;}
    100% {top:45px;}
}
@-webkit-keyframes first-down {
    0%   {top:0px;}
    25%  {top:0px;}
    50%  {top:45px;}
    75%  {top:45px;}
    100% {top:45px;}
}

@keyframes sec-up {
    0%   {bottom:0px;}
    25%  {bottom:0px;}
    50%  {bottom:45px;}
    75%  {bottom:45px;}
    100% {bottom:45px;}
}
@-webkit-keyframes sec-up {
    0%   {bottom:0px;}
    25%  {bottom:0px;}
    50%  {bottom:45px;}
    75%  {bottom:45px;}
    100% {bottom:45px;}
}

@keyframes appear {
  0% {opacity: 0;}
}
@-webkit-keyframes appear {
  0% {opacity: 0;}
}
