@media only screen and (max-width: 767px){
  blockquote {
    font-size: 3.5rem;
  }
  .navbar-default .navbar-toggle:focus,
  .navbar-default .navbar-toggle:hover {
    background-color: rgba(238, 238, 238, 0.39);
    border: none;
  }
  .navbar-default .navbar-nav>li>a:focus,
  .navbar-default .navbar-nav>li>a:hover {
    border-bottom: none;
  }
  .btn:link,
  .btn:visited,
  #btn-form {
    padding: 8px 25px;
    margin-left: 30px;
  }
  #btn-form {
    margin-left: 2px;
  }
}

@media only screen and (max-width: 628px){
  blockquote {
    font-size: 3rem;
  }
  .btn:link,
  .btn:visited,
  #btn-form {
    padding: 6px 20px;
  }
}

 @media only screen and (max-width: 557px){
  header .logo {
    height: 205px;
  }
  .main-banner {
    padding-bottom: 0;
  }
  blockquote {
    display: none;
  }
  .main-banner p {
    display: none;
  }
  .collapse.in {
    border: none;
  }
  .btn:link,
  .btn:visited {
    display: none;
   }
}
