body, html {
  font-family: 'Raleway', sans-serif;
}
/*-------------- COMMON ---------------*/
/*-------------------------------------*/
.hide-bullets {
  list-style:none;
}
/*-------------- HEADER ---------------*/
/*-------------------------------------*/
.bg-container {
  background-image: radial-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.2)), url("./img/bouquet-bg.jpg");
  background-size: cover;
  height: 100%;
}
header .logo {
  height: 150px;
  width: auto;
}
/*-------------- NAVBAR ---------------*/
/*-------------------------------------*/
.navbar-default {
  background-color: transparent;
  border: none;
}
ul.nav.navbar-nav {
  padding-top: 52px;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-nav>li>a {
  padding: 8px 20px;
  margin-right: 5px;
  text-transform: uppercase;
  font-weight: 200;
  border-bottom: 2px solid transparent;
  transition: boder-bottom 0.2s;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #ccc;
  background-color: transparent;
  border-bottom: 2px solid #d8198f;
}
.navbar-toggle {
  margin-top: 52px;
  margin-right: 25px;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
/*-------------- MAIN ---------------*/
/*-------------------------------------*/
.main-banner {
  padding-bottom: 100px;
}
blockquote,
.main-banner p {
  color: #fff;
}
.main-banner p {
  margin-left: 50px;
  letter-spacing: 0.5px;
}
blockquote {
  font-family: "Arvo", serif;
  font-size: 2.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 145%;
  border-left: 0;
  margin-bottom: 3px;
  padding: 100px 0 0 50px;
}
/*-------------- BUTTONS ---------------*/
/*-------------------------------------*/
.btn:link,
.btn:visited,
#btn-form {
  color: #fff;
  text-transform: uppercase;
  font-weight: 200;
  background-color: rgba(216, 25, 143, 0.8);
  border: rgba(216, 25, 143, 0.8);
  border-radius: 50px;
  display: inline-block;
  padding: 10px 30px;
  margin: 20px -15px 0 50px;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn.btn-default:hover,
.btn.btn-default:active {
  color: #fff;
  background-color: #d8198f;
}
button#btn-form:hover,
button#btn-form:active {
  color: #fff;
  background-color: #d8198f;
}
/*-------------- SERVICES ---------------*/
/*-------------------------------------*/
.services .thumbnail {
  border-style: none;
}
.services h3 {
  font-family: "Arvo", serif;
  padding: 5px;
}
.services p,
.gallery p,
.contact p {
  padding: 10px;
  text-align: justify;
}
p.description {
  text-align: center;
  font-size: 110%;
  margin-bottom: 20px;
}
/*-------------- GALLERY ---------------*/
/*-------------------------------------*/
.gallery h2,
.services h2,
.contact h2 {
  font-family: "Arvo", serif;
  text-align: center;
  word-spacing: 2px;
  letter-spacing: 1px;
  padding: 40px 0 5px 0;
}
h2:after {
  display: block;
  height: 2px;
  background-color: #d8198f;
  content: " ";
  width: 100px;
  margin: 20px auto;
}
.gallery .thumbnail {
  border: 1px solid #d8198f;
  padding: 0;
}
.gallery img {
  width: 100%;
}
div#slider-thumbs {
  padding-right: 0;
}
.col-sm-6.no-padding-left{
  padding-left: 0;
}
/*-------------- CONTACT ---------------*/
/*-------------------------------------*/
.form-label {
  font-family: "Arvo", serif;
  font-weight: 200;
}
.form-control {
  box-shadow: none;
  border-style: none none solid none;
  border-radius: 0;
}
.text-center {
  overflow: hidden;
}
#btn-form {
  font-size: 1.1rem;
  width: 130px;
  float: left;
  margin: 0;
}
/*-------------- FOOTER ---------------*/
/*-------------------------------------*/
footer {
  font-family: "Raleway", sans-serif;
  background-color: rgba(216, 25, 143, 0.8);
  color: #fff;
  padding: 40px 0;
  margin-top: 80px;
}
footer .row {
  padding-bottom: 30px;
}
footer p {
  margin: 0;
}
.details p {
  padding-bottom: 5px;
}
.social-links {
  list-style: none;
  align-items: baseline;
  text-align: right;
}
ul.social-links {
  margin: 0;
}
.social-links li {
  display: inline-block;
  margin-right: 20px;
}
.social-links .fa {
  font-size: 220%;
  color: #fff;
}
.social-links p {
  font-size: 1.6rem;
}
/* -------------- SCROLL TO TOP -----------------------*/
.scrollToTop {
  font-size: 0.9rem;
  position:  fixed;
  bottom: 50px;
  right: 50px;
  text-decoration: none;
  color: #3a9617;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid #3a9617;
  border-radius: 100%;
  padding: 5px;
  display: none;
}
